<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/nav.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title>nav</title>
</head>
<body>
<header>
    <nav class ="navbar">
        <div class="navbar-logo"><a href="#">ClubFlow</a></div>

        <ul class="navbar-menu">
            <li><a href="">출석</a></li>
            <li><a href="">일정</a></li>
            <li><a href="">게시판</a></li>
        </ul>

        <ul class="navbar-links">
            <li><i class="fa-brands fa-instrangram"></i></li>
        </ul>
    </nav>
</header>
</body>
</html>
